<!-- EXACT FIGMA HTML EXPORT - REBUILT FROM SCRATCH -->
<div data-layer="Desktop" class="Desktop w-[1456px] h-[982px] relative">
  <div data-layer="Rectangle 3" class="Rectangle3 w-[1456px] h-[982px] left-0 top-0 absolute bg-black"></div>
  
  <!-- B2B LOGO - Exact from Figma -->
  <div data-svg-wrapper data-layer="B2B LOGO" class="B2bLogo left-[277px] top-[749px] absolute">
    <svg width="909" height="289" viewBox="0 0 909 289" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_31_627)">
    <path d="M42.7459 159.31C52.1199 159.31 61.5507 159.31 70.9815 159.31C70.9815 169.35 68.709 173.908 64.9594 184.006C84.1051 172.87 117.511 167.735 130.237 185.795C139.838 197.45 123.362 227.8 114.613 241.071C107.796 251.457 102.399 258.67 92.3997 264.094C75.8673 273.037 44.9615 272.691 33.5991 259.074C32.9174 262.478 32.4629 265.883 32.2356 269.287C22.8048 269.287 13.374 269.345 4 269.402C6.15886 230.859 42.7459 197.912 42.7459 159.368V159.31ZM49.2224 215.741C47.0636 220.069 44.9615 224.396 42.9731 228.724C43.4844 241.302 52.6312 240.206 64.789 240.841C80.7532 241.36 91.8315 230.282 96.7742 215.222C98.1945 211.298 98.3649 207.894 96.3197 204.663C93.4791 201.547 88.7637 201.662 84.7868 201.605C68.2545 201.605 56.4944 206.278 49.2224 215.741ZM201.706 173.793C219.602 173.389 244.997 178.005 240.679 201.489C236.305 221.8 222.045 247.476 205.569 259.593C187.674 272.576 146.598 274.711 129.839 259.593C114.613 243.899 132.055 216.549 142.906 201.778C157.393 182.102 178.186 173.158 201.706 173.735V173.793ZM172.675 243.149C188.014 242.918 196.764 236.513 203.808 221.915C206.762 215.51 208.921 208.99 204.433 204.49C199.377 200.22 192.616 199.989 186.14 201.143C178.584 202.643 171.482 206.624 166.199 212.914C155.972 225.204 150.973 244.072 172.675 243.206V243.149ZM333.681 174.37C343.055 174.37 352.486 174.37 361.86 174.428C353.281 205.701 328.17 236.975 326.409 268.248C316.978 268.248 307.547 268.306 298.173 268.364C298.457 263.575 299.253 258.728 300.502 253.939C291.015 263.459 280.845 268.248 267.267 268.306C248.86 267.729 233.635 265.998 232.612 245.976C233.407 222.492 249.826 202.932 258.177 174.197C267.551 174.197 276.869 174.197 286.243 174.255C283.004 186.429 276.244 200.22 270.562 211.933C268.46 216.78 265.393 223.531 266.188 229.07C266.529 233.167 268.631 234.436 272.21 235.936C286.186 239.571 297.264 233.628 312.944 222.319C320.614 206.336 329.306 190.353 333.681 174.428V174.37ZM453.213 193.642C450.032 216.837 431.795 236.225 429.182 267.844C419.751 267.844 410.32 267.902 400.946 267.96C401.514 255.9 406.287 242.514 411.456 231.032C413.786 225.435 417.194 218.049 417.422 211.875C417.535 204.951 412.934 202.585 406.457 202.643C395.435 202.643 388.504 207.201 379.755 214.068C370.893 232.07 362.144 250.073 361.121 268.075C351.69 268.075 342.259 268.133 332.885 268.191C334.647 236.917 359.701 205.701 368.279 174.428C377.653 174.428 387.084 174.428 396.458 174.485C395.265 178.813 393.788 183.083 392.084 187.41C400.776 181.525 406.684 177.024 416.626 174.659C430.773 172.293 456.168 172.639 453.213 193.584V193.642Z" fill="#101010"/>
    </g>
    <defs>
    <filter id="filter0_d_31_627" x="0" y="0" width="909" height="289" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_31_627"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_31_627" result="shape"/>
    </filter>
    </defs>
    </svg>
  </div>
  
  <!-- Phone Number Form - Exact from Figma -->
  <div data-layer="Phone Number Form" class="PhoneNumberForm h-[453px] left-[838px] top-[448px] absolute inline-flex flex-col justify-start items-center gap-1.5">
    <div data-layer="Phone Number" class="PhoneNumber w-[299px] h-14 px-[3.20px] bg-neutral-800 rounded-[31px] flex flex-col justify-between items-center">
      <div data-layer="Frame 19" class="Frame19 w-[294px] inline-flex justify-between items-center">
        <div data-layer="Phone number Field" class="PhoneNumberField w-96 h-12 pl-4 bg-zinc-800 rounded-full flex justify-start items-center gap-4">
          <div data-svg-wrapper data-layer="flag/US" class="FlagUs relative">
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.831726 0.543488H23.8317V15.5435H0.831726V0.543488Z" fill="white"/>
            <path d="M0.831726 0.543488H23.8317V1.697H0.831726V0.543488ZM0.831726 2.85051H23.8317V4.00401H0.831726V2.85051ZM0.831726 5.15752H23.8317V6.31103H0.831726V5.15752ZM0.831726 7.46454H23.8317V8.61805H0.831726V7.46454ZM0.831726 9.77594H23.8317V10.9295H0.831726V9.77594ZM0.831726 12.083H23.8317V13.2365H0.831726V12.083ZM0.831726 14.39H23.8317V15.5435H0.831726V14.39Z" fill="#D80027"/>
            <path d="M0.831726 0.543488H12.3317V8.61805H0.831726V0.543488Z" fill="#2E52B2"/>
            <path d="M2.9748 6.6356L2.79546 6.0742L2.59819 6.6356H2.00638L2.48611 6.97332L2.30677 7.53473L2.79546 7.18823L3.27071 7.53473L3.08688 6.97332L3.57558 6.6356H2.9748ZM5.49897 6.6356L5.31515 6.0742L5.12685 6.6356H4.53503L5.01476 6.97332L4.83542 7.53473L5.31515 7.18823L5.79936 7.53473L5.62002 6.97332L6.09975 6.6356H5.49897ZM8.03211 6.6356L7.83932 6.0742L7.65998 6.6356H7.05472L7.5479 6.97332L7.35959 7.53473L7.83932 7.18823L8.3325 7.53473L8.1442 6.97332L8.62392 6.6356H8.03211ZM10.5518 6.6356L10.3725 6.0742L10.1842 6.6356H9.58786L10.0721 6.97332L9.89273 7.53473L10.3725 7.18823L10.8567 7.53473L10.6639 6.97332L11.1571 6.6356H10.5518ZM5.31515 3.84613L5.12685 4.40753H4.53503L5.01476 4.75402L4.83542 5.30666L5.31515 4.96455L5.79936 5.30666L5.62002 4.75402L6.09975 4.40753H5.49897L5.31515 3.84613ZM2.79546 3.84613L2.59819 4.40753H2.00638L2.48611 4.75402L2.30677 5.30666L2.79546 4.96455L3.27071 5.30666L3.08688 4.75402L3.57558 4.40753H2.9748L2.79546 3.84613ZM7.83932 3.84613L7.65998 4.40753H7.05472L7.5479 4.75402L7.35959 5.30666L7.83932 4.96455L8.3325 5.30666L8.1442 4.75402L8.62392 4.40753H8.03211L7.83932 3.84613ZM10.3725 3.84613L10.1842 4.40753H9.58786L10.0721 4.75402L9.89273 5.30666L10.3725 4.96455L10.8567 5.30666L10.6639 4.75402L11.1571 4.40753H10.5518L10.3725 3.84613ZM2.79546 1.62683L2.59819 2.17946H2.00638L2.48611 2.52595L2.30677 3.08297L2.79546 2.73648L3.27071 3.08297L3.08688 2.52595L3.57558 2.17946H2.9748L2.79546 1.62683ZM5.31515 1.62683L5.12685 2.17946H4.53503L5.01476 2.52595L4.83542 3.08297L5.31515 2.73648L5.79936 3.08297L5.62002 2.52595L6.09975 2.17946H5.49897L5.31515 1.62683ZM7.83932 1.62683L7.65998 2.17946H7.05472L7.5479 2.52595L7.35959 3.08297L7.83932 2.73648L8.3325 3.08297L8.1442 2.52595L8.62392 2.17946H8.03211L7.83932 1.62683ZM10.3725 1.62683L10.1842 2.17946H9.58786L10.0721 2.52595L9.89273 3.08297L10.3725 2.73648L10.8567 3.08297L10.6639 2.52595L11.1571 2.17946H10.5518L10.3725 1.62683Z" fill="white"/>
            </svg>
          </div>
          <div data-layer="Phone Number Field" class="PhoneNumberField w-72 justify-center text-white text-2xl font-medium font-['Inter']">(555)-434-43904</div>
        </div>
        <div data-layer="item" data-property-1="Selected" class="Item w-20 px-5 py-5 bg-green-500 rounded-full flex justify-center items-center gap-4 overflow-hidden">
          <div data-layer="TE" class="Te justify-start text-neutral-800 text-base font-bold font-['Inter']">SEND</div>
        </div>
      </div>
    </div>
    <div data-layer="Disclaimer Text" class="DisclaimerText w-[299.64px] opacity-50 text-justify justify-start">
      <span class="text-white text-xs font-medium font-['Inter']">By submitting my information, I agree to receive recurring automated messages to the contact information provided and to Bounce2Bounce's</span>
      <span class="text-lime-400 text-xs font-medium font-['Inter']"> </span>
      <a href="https://terms.bounce2bounce.com/" target="_blank" class="text-lime-400 text-xs font-medium font-['Inter'] underline">Terms of Service</a>
      <span class="text-white text-xs font-medium font-['Inter']">, </span>
      <a href="https://terms.bounce2bounce.com/" target="_blank" class="text-white text-xs font-medium font-['Inter'] underline">Cookie Policy</a>
      <span class="text-white text-xs font-medium font-['Inter']"> and </span>
      <a href="https://terms.bounce2bounce.com/" target="_blank" class="text-white text-xs font-medium font-['Inter'] underline">Privacy Policy</a>
      <span class="text-white text-xs font-medium font-['Inter']">. Msg & Data Rates may apply. Reply STOP to cancel, HELP for help.</span>
    </div>
  </div>
  
  <!-- Frame 18 - Event List Container -->
  <div data-layer="Frame 18" class="Frame18 size- left-[313px] top-[448px] absolute inline-flex justify-start items-start gap-7">
    <div data-layer="Event List" class="EventList w-[507px] h-[453px] inline-flex flex-col justify-start items-start gap-8">
      <div data-layer="EVENT LIST" class="EventList self-stretch flex-1 inline-flex justify-start items-start gap-3 flex-wrap content-start">
        
        <!-- Home Settings Event Card (Always First) -->
        {{#if homeSettings.event_title}}
        <div data-layer="EventCard_small" class="EventcardSmall w-96 h-32 relative bg-neutral-800 rounded-3xl overflow-hidden">
          <div data-layer="Frame 6" class="Frame6 size-32 left-0 top-[1px] absolute">
            {{#if homeSettings.event_image}}
            <img data-layer="Rectangle 2" class="Rectangle2 size-32 left-[3px] top-[2px] absolute rounded-3xl" src="{{homeSettings.event_image}}" />
            {{else}}
            <img data-layer="Rectangle 2" class="Rectangle2 size-32 left-[3px] top-[2px] absolute rounded-3xl" src="https://placehold.co/79x79" />
            {{/if}}
            {{#if homeSettings.event_date}}
            <div data-layer="Frame 7" class="Frame7 size-8 left-[55.64px] top-[6px] absolute overflow-hidden">
              <div data-svg-wrapper data-layer="Rectangle 1" class="Rectangle1 left-[0.15px] top-[-0.86px] absolute">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="21.1623" height="21.1623" rx="4" transform="matrix(-1 0 0 1 21.9457 -0.864319)" fill="white"/>
                </svg>
              </div>
              <div data-layer="Date" class="Date size-6 left-[3.36px] top-[3px] absolute inline-flex flex-col justify-center items-center gap-[3.20px]">
                <div data-layer="DAY" class="Day text-center justify-center text-black text-base font-extrabold font-['Inter']">{{formatDate homeSettings.event_date "dd"}}</div>
                <div data-layer="MONTH" class="Month text-center justify-center text-black text-[6px] font-extrabold font-['Inter']">{{formatDate homeSettings.event_date "MMM"}}</div>
              </div>
            </div>
            {{/if}}
          </div>
          <div data-layer="Frame 4" class="Frame4 w-64 h-32 py-[4.80px] left-[94px] top-0 absolute inline-flex flex-col justify-between items-start">
            <div data-layer="Frame 3" class="Frame3 self-stretch h-20 flex flex-col justify-start items-start">
              <div data-layer="Event Title" class="EventTitle w-52 h-8 justify-center text-white text-2xl font-extrabold font-['Inter']">{{homeSettings.event_title}}</div>
              {{#if homeSettings.event_date}}
              <div data-layer="DATE" class="Date self-stretch h-6 pl-[1.60px] inline-flex justify-start items-center gap-1.5">
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.316456 4.25924H9.673C9.85232 4.25924 9.98945 4.1114 9.98945 3.94245C9.98945 3.7735 9.84177 3.62566 9.673 3.62566H0.316456C0.137131 3.62566 0 3.7735 0 3.94245C0 4.1114 0.147679 4.25924 0.316456 4.25924Z" fill="white"/>
                  </svg>
                </div>
                <div data-layer="Date" class="Date w-44 h-5 justify-center text-white text-base font-extralight font-['Inter']">{{formatDate homeSettings.event_date "EEE, MMM dd @ h:mm a"}}</div>
              </div>
              {{/if}}
              {{#if homeSettings.event_address}}
              <div data-layer="LOCATION" class="Location self-stretch h-6 px-[1.60px] inline-flex justify-start items-center gap-1.5">
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.00001 8.9625C3.38335 8.9625 2.76251 8.72917 2.27918 8.26667C1.05001 7.08333 -0.308321 5.19583 0.204179 2.95C0.666679 0.9125 2.44585 0 4.00001 0C4.00001 0 4.00001 0 4.00418 0C5.55835 0 7.33751 0.9125 7.80001 2.95417C8.30835 5.2 6.95001 7.08333 5.72085 8.26667C5.23751 8.72917 4.61668 8.9625 4.00001 8.9625Z" fill="white"/>
                  </svg>
                </div>
                <div data-layer="Date" class="Date w-44 h-5 justify-center text-white text-base font-extralight font-['Inter']">{{homeSettings.event_address}}</div>
              </div>
              {{/if}}
            </div>
            <div data-layer="Frame 9" class="Frame9 self-stretch h-10 relative">
              <div data-layer="Card Buttons" class="CardButtons w-64 h-10 pr-1.5 left-0 top-0 absolute inline-flex justify-between items-start overflow-hidden">
                <div data-layer="Get Tickets" class="GetTickets w-60 h-10 px-5 py-5 bg-neutral-900/80 rounded-[37px] flex justify-center items-center gap-4 overflow-hidden">
                  <div data-layer="Get Tickets" class="GetTickets justify-start text-white text-xl font-medium font-['Inter']">Get Tickets</div>
                </div>
                <div data-svg-wrapper data-layer="SHARE" class="Share relative">
                  <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="26" height="25" rx="12.5" fill="white"/>
                  <path d="M9.54652 9.56927C9.87209 9.545 10.1816 9.7883 10.2145 10.124C10.2472 10.4589 10.0023 10.7612 9.65981 10.7939C8.48877 10.902 7.69658 11.231 7.19496 11.8661C6.69191 12.5032 6.47233 13.4585 6.47231 14.8388V14.9365C6.47231 16.4592 6.74253 17.4752 7.37953 18.1122C8.01654 18.7492 9.03261 19.0195 10.5553 19.0195H15.445C16.9677 19.0195 17.9837 18.7492 18.6207 18.1122C19.2577 17.4752 19.528 16.4592 19.528 14.9365V14.8388C19.5279 13.4511 19.3047 12.4924 18.7926 11.8554C18.2818 11.2201 17.4747 10.8946 16.2809 10.7939H16.2799C15.9464 10.7612 15.6925 10.468 15.7252 10.1318C15.7537 9.8401 15.9758 9.60835 16.2614 9.57709H16.3864C17.8869 9.70527 18.9825 10.175 19.7008 11.0429C20.4182 11.9097 20.7526 13.1649 20.7526 14.8466V14.9443C20.7525 16.7837 20.3575 18.1108 19.4899 18.9765C18.6222 19.842 17.2917 20.2363 15.445 20.2363H10.5553C8.70862 20.2363 7.37807 19.8419 6.51039 18.9745C5.64272 18.1069 5.2477 16.7757 5.2477 14.9286V14.832C5.2477 13.1615 5.57685 11.9137 6.28285 11.0488C6.98976 10.183 8.06762 9.70877 9.54555 9.56927H9.54652Z" fill="black" stroke="black" stroke-width="0.1"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}

        <!-- Featured Events Loop -->
        {{#each featuredEvents}}
        <div data-layer="EventCard_small" class="EventcardSmall w-96 h-32 relative bg-neutral-800 rounded-3xl overflow-hidden">
          <div data-layer="Frame 6" class="Frame6 size-32 left-0 top-[1px] absolute">
            {{#if this.cover_image}}
            <img data-layer="Rectangle 2" class="Rectangle2 size-32 left-[3px] top-[2px] absolute rounded-3xl" src="{{this.cover_image}}" />
            {{else}}
            <img data-layer="Rectangle 2" class="Rectangle2 size-32 left-[3px] top-[2px] absolute rounded-3xl" src="https://placehold.co/79x79" />
            {{/if}}
            {{#if this.event_date}}
            <div data-layer="Frame 7" class="Frame7 size-8 left-[55.64px] top-[6px] absolute overflow-hidden">
              <div data-svg-wrapper data-layer="Rectangle 1" class="Rectangle1 left-[0.15px] top-[-0.86px] absolute">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="21.1623" height="21.1623" rx="4" transform="matrix(-1 0 0 1 21.9457 -0.864319)" fill="white"/>
                </svg>
              </div>
              <div data-layer="Date" class="Date size-6 left-[3.36px] top-[3px] absolute inline-flex flex-col justify-center items-center gap-[3.20px]">
                <div data-layer="DAY" class="Day text-center justify-center text-black text-base font-extrabold font-['Inter']">{{formatDate this.event_date "dd"}}</div>
                <div data-layer="MONTH" class="Month text-center justify-center text-black text-[6px] font-extrabold font-['Inter']">{{formatDate this.event_date "MMM"}}</div>
              </div>
            </div>
            {{/if}}
          </div>
          <div data-layer="Frame 4" class="Frame4 w-64 h-32 py-[4.80px] left-[94px] top-0 absolute inline-flex flex-col justify-between items-start">
            <div data-layer="Frame 3" class="Frame3 self-stretch h-20 flex flex-col justify-start items-start">
              <div data-layer="Event Title" class="EventTitle w-52 h-8 justify-center text-white text-2xl font-extrabold font-['Inter']">{{this.title}}</div>
              {{#if this.event_date}}
              <div data-layer="DATE" class="Date self-stretch h-6 pl-[1.60px] inline-flex justify-start items-center gap-1.5">
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.316456 4.25924H9.673C9.85232 4.25924 9.98945 4.1114 9.98945 3.94245C9.98945 3.7735 9.84177 3.62566 9.673 3.62566H0.316456C0.137131 3.62566 0 3.7735 0 3.94245C0 4.1114 0.147679 4.25924 0.316456 4.25924Z" fill="white"/>
                  </svg>
                </div>
                <div data-layer="Date" class="Date w-44 h-5 justify-center text-white text-base font-extralight font-['Inter']">{{formatDate this.event_date "EEE, MMM dd @ h:mm a"}}</div>
              </div>
              {{/if}}
              {{#if this.event_address}}
              <div data-layer="LOCATION" class="Location self-stretch h-6 px-[1.60px] inline-flex justify-start items-center gap-1.5">
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.00001 8.9625C3.38335 8.9625 2.76251 8.72917 2.27918 8.26667C1.05001 7.08333 -0.308321 5.19583 0.204179 2.95C0.666679 0.9125 2.44585 0 4.00001 0C4.00001 0 4.00001 0 4.00418 0C5.55835 0 7.33751 0.9125 7.80001 2.95417C8.30835 5.2 6.95001 7.08333 5.72085 8.26667C5.23751 8.72917 4.61668 8.9625 4.00001 8.9625Z" fill="white"/>
                  </svg>
                </div>
                <div data-layer="Date" class="Date w-44 h-5 justify-center text-white text-base font-extralight font-['Inter']">{{this.event_address}}</div>
              </div>
              {{/if}}
            </div>
            <div data-layer="Frame 9" class="Frame9 self-stretch h-10 relative">
              <div data-layer="Card Buttons" class="CardButtons w-64 h-10 pr-1.5 left-0 top-0 absolute inline-flex justify-between items-start overflow-hidden">
                <div data-layer="Get Tickets" class="GetTickets w-60 h-10 px-5 py-5 bg-neutral-900/80 rounded-[37px] flex justify-center items-center gap-4 overflow-hidden">
                  <div data-layer="Get Tickets" class="GetTickets justify-start text-white text-xl font-medium font-['Inter']">Get Tickets</div>
                </div>
                <div data-svg-wrapper data-layer="SHARE" class="Share relative">
                  <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="26" height="25" rx="12.5" fill="white"/>
                  <path d="M9.54652 9.56927C9.87209 9.545 10.1816 9.7883 10.2145 10.124C10.2472 10.4589 10.0023 10.7612 9.65981 10.7939C8.48877 10.902 7.69658 11.231 7.19496 11.8661C6.69191 12.5032 6.47233 13.4585 6.47231 14.8388V14.9365C6.47231 16.4592 6.74253 17.4752 7.37953 18.1122C8.01654 18.7492 9.03261 19.0195 10.5553 19.0195H15.445C16.9677 19.0195 17.9837 18.7492 18.6207 18.1122C19.2577 17.4752 19.528 16.4592 19.528 14.9365V14.8388C19.5279 13.4511 19.3047 12.4924 18.7926 11.8554C18.2818 11.2201 17.4747 10.8946 16.2809 10.7939H16.2799C15.9464 10.7612 15.6925 10.468 15.7252 10.1318C15.7537 9.8401 15.9758 9.60835 16.2614 9.57709H16.3864C17.8869 9.70527 18.9825 10.175 19.7008 11.0429C20.4182 11.9097 20.7526 13.1649 20.7526 14.8466V14.9443C20.7525 16.7837 20.3575 18.1108 19.4899 18.9765C18.6222 19.842 17.2917 20.2363 15.445 20.2363H10.5553C8.70862 20.2363 7.37807 19.8419 6.51039 18.9745C5.64272 18.1069 5.2477 16.7757 5.2477 14.9286V14.832C5.2477 13.1615 5.57685 11.9137 6.28285 11.0488C6.98976 10.183 8.06762 9.70877 9.54555 9.56927H9.54652Z" fill="black" stroke="black" stroke-width="0.1"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
