<!-- COMPLETE FIGMA HTML EXPORT WITH EXACT INLINE STYLES -->
<div data-layer="Desktop" class="Desktop" style="width: 1456px; height: 982px; position: relative">
  <div data-layer="Rectangle 3" class="Rectangle3" style="width: 1456px; height: 982px; left: 0px; top: 0px; position: absolute; background: black"></div>

  <!-- B2B LOGO - Complete from Figma -->
  <div data-svg-wrapper data-layer="B2B LOGO" class="B2bLogo" style="left: 277px; top: 749px; position: absolute">
    <svg width="909" height="289" viewBox="0 0 909 289" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_31_627)">
    <path d="M42.7459 159.31C52.1199 159.31 61.5507 159.31 70.9815 159.31C70.9815 169.35 68.709 173.908 64.9594 184.006C84.1051 172.87 117.511 167.735 130.237 185.795C139.838 197.45 123.362 227.8 114.613 241.071C107.796 251.457 102.399 258.67 92.3997 264.094C75.8673 273.037 44.9615 272.691 33.5991 259.074C32.9174 262.478 32.4629 265.883 32.2356 269.287C22.8048 269.287 13.374 269.345 4 269.402C6.15886 230.859 42.7459 197.912 42.7459 159.368V159.31ZM49.2224 215.741C47.0636 220.069 44.9615 224.396 42.9731 228.724C43.4844 241.302 52.6312 240.206 64.789 240.841C80.7532 241.36 91.8315 230.282 96.7742 215.222C98.1945 211.298 98.3649 207.894 96.3197 204.663C93.4791 201.547 88.7637 201.662 84.7868 201.605C68.2545 201.605 56.4944 206.278 49.2224 215.741ZM201.706 173.793C219.602 173.389 244.997 178.005 240.679 201.489C236.305 221.8 222.045 247.476 205.569 259.593C187.674 272.576 146.598 274.711 129.839 259.593C114.613 243.899 132.055 216.549 142.906 201.778C157.393 182.102 178.186 173.158 201.706 173.735V173.793ZM172.675 243.149C188.014 242.918 196.764 236.513 203.808 221.915C206.762 215.51 208.921 208.99 204.433 204.49C199.377 200.22 192.616 199.989 186.14 201.143C178.584 202.643 171.482 206.624 166.199 212.914C155.972 225.204 150.973 244.072 172.675 243.206V243.149ZM333.681 174.37C343.055 174.37 352.486 174.37 361.86 174.428C353.281 205.701 328.17 236.975 326.409 268.248C316.978 268.248 307.547 268.306 298.173 268.364C298.457 263.575 299.253 258.728 300.502 253.939C291.015 263.459 280.845 268.248 267.267 268.306C248.86 267.729 233.635 265.998 232.612 245.976C233.407 222.492 249.826 202.932 258.177 174.197C267.551 174.197 276.869 174.197 286.243 174.255C283.004 186.429 276.244 200.22 270.562 211.933C268.46 216.78 265.393 223.531 266.188 229.07C266.529 233.167 268.631 234.436 272.21 235.936C286.186 239.571 297.264 233.628 312.944 222.319C320.614 206.336 329.306 190.353 333.681 174.428V174.37ZM453.213 193.642C450.032 216.837 431.795 236.225 429.182 267.844C419.751 267.844 410.32 267.902 400.946 267.96C401.514 255.9 406.287 242.514 411.456 231.032C413.786 225.435 417.194 218.049 417.422 211.875C417.535 204.951 412.934 202.585 406.457 202.643C395.435 202.643 388.504 207.201 379.755 214.068C370.893 232.07 362.144 250.073 361.121 268.075C351.69 268.075 342.259 268.133 332.885 268.191C334.647 236.917 359.701 205.701 368.279 174.428C377.653 174.428 387.084 174.428 396.458 174.485C395.265 178.813 393.788 183.083 392.084 187.41C400.776 181.525 406.684 177.024 416.626 174.659C430.773 172.293 456.168 172.639 453.213 193.584V193.642ZM518.604 174.543C540.761 173.966 569.621 182.967 556.555 209.74C546.215 211.587 535.875 213.433 525.535 215.337C528.433 199.066 499.174 202.066 490.709 207.317C485.028 210.663 480.824 215.683 478.097 221.569C471.223 234.84 478.211 240.552 491.846 240.264C502.299 240.321 513.434 237.032 519.513 228.377C528.092 230.051 536.67 231.782 545.306 233.455C532.182 265.825 495.482 273.557 464.405 266.402C441.056 260.632 439.238 241.071 449.407 221.742C464.576 192.546 484.915 174.312 518.661 174.543H518.604ZM82.628 38.6014C92.002 38.6014 101.376 38.6591 110.75 38.7168C110.75 48.7567 108.193 58.7965 104.444 68.8363C123.533 57.7579 156.938 52.5649 169.607 70.5674C179.152 82.2228 162.563 112.515 153.87 125.671C147.11 136.057 141.713 143.212 131.77 148.636C115.295 157.637 84.446 157.175 73.0267 143.616C72.345 147.02 71.8905 150.424 71.7769 153.829C62.346 153.829 52.972 153.886 43.5412 153.944C45.416 115.458 82.5712 77.0298 82.5712 38.6014H82.628ZM89.7295 100.86C87.5706 105.187 85.4686 109.515 83.4802 113.843C84.0483 126.421 93.1382 125.325 105.296 125.96C121.26 126.479 132.282 115.4 137.224 100.341C138.645 96.4171 138.815 93.0127 136.827 89.7815C133.986 86.6657 129.271 86.7811 125.294 86.7234C108.762 86.7234 96.9446 91.3971 89.6727 100.86H89.7295ZM241.929 58.5657C259.768 58.1618 285.22 62.7778 280.845 86.2618C276.357 106.515 262.211 132.249 245.792 144.366C227.726 158.849 164.153 162.195 163.983 129.537C163.642 116.901 174.607 96.994 183.072 86.5503C197.616 66.9322 218.466 57.931 241.986 58.508L241.929 58.5657ZM212.671 127.921C228.067 127.691 236.759 121.286 243.804 106.688C246.758 100.283 248.974 93.8205 244.486 89.2622C239.429 84.9924 232.669 84.8193 226.192 85.9156C218.579 87.4158 211.535 91.3971 206.251 97.6864C195.968 109.977 190.969 128.845 212.671 127.979V127.921ZM374.188 59.3735C383.448 59.3735 392.709 59.3735 401.969 59.4312C393.22 90.647 367.995 121.921 366.632 153.136C357.371 153.136 348.054 153.194 338.794 153.252C339.021 148.463 339.76 143.674 340.953 138.827C331.579 148.347 321.466 153.136 307.945 153.194C289.538 152.617 274.255 150.886 273.176 130.922C273.914 107.438 290.39 87.9351 298.855 59.2004C308.115 59.2004 317.376 59.2004 326.636 59.2581C323.341 71.4329 316.467 85.2232 310.785 96.9363C308.683 101.783 305.559 108.534 306.354 114.073C306.695 118.17 308.797 119.439 312.433 120.94C326.466 124.575 337.601 118.632 353.281 107.322C361.007 91.3394 369.756 75.4142 374.245 59.4312L374.188 59.3735ZM493.323 78.8185C490.084 101.899 471.734 121.286 469.518 152.848C460.088 152.848 450.714 152.906 441.283 152.963C441.737 140.904 446.396 127.517 451.566 116.035C453.895 110.438 457.304 103.053 457.531 96.8786C457.645 90.0123 453.1 87.5889 446.68 87.6466C435.658 87.6466 428.784 92.2049 420.035 99.0713C411.116 117.074 402.367 135.076 401.571 153.079C392.084 153.079 382.596 153.136 373.108 153.194C374.472 122.036 399.64 90.8778 408.389 59.7197C417.876 59.7197 427.307 59.7197 436.795 59.7774C435.602 64.1049 434.068 68.3747 432.307 72.7023C440.999 66.8745 446.964 62.3739 456.906 60.0082C470.939 57.6425 496.391 57.9887 493.266 78.8762L493.323 78.8185ZM626.434 172.639C668.077 172.639 670.52 196.065 651.658 229.474C627.683 229.474 603.765 229.474 579.791 229.531C576.212 247.361 628.877 236.052 637.342 232.82C637.626 241.36 638.591 249.9 641.034 258.439C623.309 267.902 572.86 271.595 556.384 258.497C544.056 248.342 548.999 232.936 555.532 219.665C570.644 190.468 592.858 172.351 626.434 172.639ZM615.469 201.893C604.504 201.893 592.63 204.605 587.12 214.125C601.55 214.125 615.98 214.125 630.41 214.125C634.444 203.97 626.661 202.008 615.469 201.893ZM557.918 58.9119C580.075 58.3349 608.935 67.3361 595.869 94.109C585.529 95.9555 575.189 97.8018 564.849 99.706C567.747 83.4345 538.488 86.4349 530.023 91.6856C524.342 95.0322 520.138 100.052 517.411 105.938C510.537 119.209 517.525 124.921 531.16 124.632C541.613 124.69 552.748 121.401 558.827 112.746C567.406 114.42 575.984 116.151 584.62 117.824C571.496 150.194 534.796 157.925 503.719 150.771C480.37 145.001 478.552 125.44 488.721 106.111C503.89 76.9144 524.229 58.6811 557.975 58.9119H557.918ZM665.748 57.0078C707.391 57.0078 709.834 80.4341 690.972 113.843C666.997 113.843 643.079 113.843 619.105 113.9C615.526 131.73 668.19 120.42 676.655 117.189C676.94 125.729 677.905 134.268 680.348 142.808C662.623 152.271 612.174 155.964 595.698 142.866C583.37 132.71 588.313 117.305 594.846 104.033C609.958 74.8372 632.172 56.7193 665.748 57.0078ZM654.783 86.3195C643.818 86.3195 631.944 89.0314 626.434 98.5519C640.864 98.5519 655.294 98.5519 669.724 98.5519C673.758 88.3967 665.975 86.4349 654.783 86.3195ZM544.226 247.649C540.818 252.727 526.16 275.461 522.581 281C532.239 278.057 554.566 270.383 564.452 268.248C554.169 264.959 546.101 258.151 544.226 247.592M660.918 155.271C650.124 156.945 637.796 157.752 625.979 157.406C623.138 160.58 620.695 164.157 617.912 167.677C626.49 166.927 637.341 167.388 644.727 169.292C649.783 163.753 655.181 159.195 660.862 155.271M764.26 55.9692C744.944 56.1423 723.128 60.5852 704.891 69.6442C708.527 76.2797 707.789 86.8965 704.891 95.3207C729.207 78.3569 775.452 70.1635 800.279 87.762C795.961 92.2626 788.178 96.3016 781.928 98.0326C753.579 105.995 724.094 108.765 695.688 116.324C695.688 116.381 695.631 116.497 695.574 116.554C694.551 116.785 693.472 117.016 692.449 117.305C691.881 117.42 691.37 117.593 690.802 117.708C690.802 117.708 690.745 117.708 690.688 117.708C690.688 117.708 690.404 117.766 690.347 117.824H690.404C689.722 118.055 688.984 118.228 688.302 118.459C686.086 119.151 683.814 119.843 681.598 120.651C682.053 129.075 683.302 136.057 685.291 142.75C721.651 127.287 786.53 130.287 814.595 104.437C827.151 92.7819 826.185 78.5877 811.982 69.0671C798.461 59.3158 781.19 55.9692 764.26 55.9115M792.893 0.1154C786.814 0.1154 780.906 0.288501 775.224 0.577002C726.025 3.11581 685.007 17.6563 649.329 49.1029C646.602 51.4686 643.761 53.8343 640.864 56.2C651.999 52.738 666.941 51.9302 678.814 53.7189C711.709 30.3503 750.398 22.0992 792.893 22.1569C824.253 23.1378 861.92 24.8111 879.077 53.4881C893.223 82.5113 868.112 105.649 843.683 120.593C806.812 142.635 773.918 143.904 732.729 159.253C713.299 164.907 696.369 170.043 679.269 174.485C679.723 176.678 680.575 181.121 680.86 183.314L680.916 183.891L681.03 196.412C681.03 196.412 681.144 196.412 681.2 196.412C733.013 195.604 784.826 194.796 836.582 193.988C829.707 207.894 822.947 221.915 816.584 235.994C804.994 231.378 794.597 230.282 780.338 229.012C738.183 226.185 693.642 228.839 648.931 233.282C647.681 233.397 646.602 233.513 645.295 233.628C644.443 233.686 643.648 233.801 642.795 233.917V234.032H642.682C642.682 234.147 642.682 234.378 642.682 234.494H642.568C642.966 242.572 643.988 249.38 645.693 255.727C696.085 251.054 744.546 247.015 792.154 252.496C798.972 253.65 804.994 254.342 810.334 257.574L812.493 255.266L813.686 254.689L829.935 260.055C842.206 230.974 857.772 200.508 872.26 171.37C835.389 171.947 798.233 172.524 761.362 173.101C811.471 159.83 879.191 143.616 901.518 89.7238C907.142 74.4333 905.836 57.9887 898.45 43.3329C878.282 5.88542 830.9 0.403901 792.95 0" fill="#101010"/>
    </g>
    <defs>
    <filter id="filter0_d_31_627" x="0" y="0" width="909" height="289" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_31_627"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_31_627" result="shape"/>
    </filter>
    </defs>
    </svg>
  </div>

  <!-- Phone Number Form - Exact from Figma -->
  <div data-layer="Phone Number Form" class="PhoneNumberForm" style="height: 453px; left: 838px; top: 448px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
    <div data-layer="Phone Number" class="PhoneNumber" style="width: 299px; height: 36px; padding-left: 2px; padding-right: 2px; background: #232323; border-radius: 31px; flex-direction: column; justify-content: space-between; align-items: center; display: flex">
      <div data-layer="Frame 19" class="Frame19" style="width: 294px; justify-content: space-between; align-items: center; display: inline-flex">
        <div data-layer="Phone number Field" class="PhoneNumberField" style="width: 233px; height: 30px; padding-left: 10px; background: #303030; border-radius: 100px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
          <div data-svg-wrapper data-layer="flag/US" class="FlagUs" style="position: relative">
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.831726 0.543488H23.8317V15.5435H0.831726V0.543488Z" fill="white"/>
            <path d="M0.831726 0.543488H23.8317V1.697H0.831726V0.543488ZM0.831726 2.85051H23.8317V4.00401H0.831726V2.85051ZM0.831726 5.15752H23.8317V6.31103H0.831726V5.15752ZM0.831726 7.46454H23.8317V8.61805H0.831726V7.46454ZM0.831726 9.77594H23.8317V10.9295H0.831726V9.77594ZM0.831726 12.083H23.8317V13.2365H0.831726V12.083ZM0.831726 14.39H23.8317V15.5435H0.831726V14.39Z" fill="#D80027"/>
            <path d="M0.831726 0.543488H12.3317V8.61805H0.831726V0.543488Z" fill="#2E52B2"/>
            <path d="M2.9748 6.6356L2.79546 6.0742L2.59819 6.6356H2.00638L2.48611 6.97332L2.30677 7.53473L2.79546 7.18823L3.27071 7.53473L3.08688 6.97332L3.57558 6.6356H2.9748ZM5.49897 6.6356L5.31515 6.0742L5.12685 6.6356H4.53503L5.01476 6.97332L4.83542 7.53473L5.31515 7.18823L5.79936 7.53473L5.62002 6.97332L6.09975 6.6356H5.49897ZM8.03211 6.6356L7.83932 6.0742L7.65998 6.6356H7.05472L7.5479 6.97332L7.35959 7.53473L7.83932 7.18823L8.3325 7.53473L8.1442 6.97332L8.62392 6.6356H8.03211ZM10.5518 6.6356L10.3725 6.0742L10.1842 6.6356H9.58786L10.0721 6.97332L9.89273 7.53473L10.3725 7.18823L10.8567 7.53473L10.6639 6.97332L11.1571 6.6356H10.5518ZM5.31515 3.84613L5.12685 4.40753H4.53503L5.01476 4.75402L4.83542 5.30666L5.31515 4.96455L5.79936 5.30666L5.62002 4.75402L6.09975 4.40753H5.49897L5.31515 3.84613ZM2.79546 3.84613L2.59819 4.40753H2.00638L2.48611 4.75402L2.30677 5.30666L2.79546 4.96455L3.27071 5.30666L3.08688 4.75402L3.57558 4.40753H2.9748L2.79546 3.84613ZM7.83932 3.84613L7.65998 4.40753H7.05472L7.5479 4.75402L7.35959 5.30666L7.83932 4.96455L8.3325 5.30666L8.1442 4.75402L8.62392 4.40753H8.03211L7.83932 3.84613ZM10.3725 3.84613L10.1842 4.40753H9.58786L10.0721 4.75402L9.89273 5.30666L10.3725 4.96455L10.8567 5.30666L10.6639 4.75402L11.1571 4.40753H10.5518L10.3725 3.84613ZM2.79546 1.62683L2.59819 2.17946H2.00638L2.48611 2.52595L2.30677 3.08297L2.79546 2.73648L3.27071 3.08297L3.08688 2.52595L3.57558 2.17946H2.9748L2.79546 1.62683ZM5.31515 1.62683L5.12685 2.17946H4.53503L5.01476 2.52595L4.83542 3.08297L5.31515 2.73648L5.79936 3.08297L5.62002 2.52595L6.09975 2.17946H5.49897L5.31515 1.62683ZM7.83932 1.62683L7.65998 2.17946H7.05472L7.5479 2.52595L7.35959 3.08297L7.83932 2.73648L8.3325 3.08297L8.1442 2.52595L8.62392 2.17946H8.03211L7.83932 1.62683ZM10.3725 1.62683L10.1842 2.17946H9.58786L10.0721 2.52595L9.89273 3.08297L10.3725 2.73648L10.8567 3.08297L10.6639 2.52595L11.1571 2.17946H10.5518L10.3725 1.62683Z" fill="white"/>
            </svg>
          </div>
          <div data-layer="Phone Number Field" class="PhoneNumberField" style="width: 190px; text-box-trim: trim-both; text-box-edge: cap alphabetic; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">(555)-434-43904</div>
        </div>
        <div data-layer="item" data-property-1="Selected" class="Item" style="width: 51px; padding-left: 12px; padding-right: 12px; padding-top: 13px; padding-bottom: 13px; background: #00FF40; overflow: hidden; border-radius: 100px; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div data-layer="TE" class="Te" style="text-box-trim: trim-both; text-box-edge: cap alphabetic; color: #232323; font-size: 10px; font-family: Inter; font-weight: 700; word-wrap: break-word">SEND</div>
        </div>
      </div>
    </div>
    <div data-layer="Disclaimer Text" class="DisclaimerText" style="width: 299.64px; opacity: 0.46; text-align: justify"><span style="color: white; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">By submitting my information, I agree to receive recurring automated messages to the contact information provided and to Bounce2Bounce's</span><span style="color: #AAFF00; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word"> </span><span style="color: #AAFF00; font-size: 8px; font-family: Inter; font-weight: 500; text-decoration: underline; word-wrap: break-word">Terms of Service</span><span style="color: white; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">, </span><span style="color: white; font-size: 8px; font-family: Inter; font-weight: 500; text-decoration: underline; word-wrap: break-word">Cookie Policy</span><span style="color: white; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word"> and </span><span style="color: white; font-size: 8px; font-family: Inter; font-weight: 500; text-decoration: underline; word-wrap: break-word">Privacy Policy</span><span style="color: white; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">. Msg & Data Rates may apply. Reply STOP to cancel, HELP for help.</span></div>
  </div>

  <!-- Frame 18 - Event List Container -->
  <div data-layer="Frame 18" class="Frame18" style="left: 313px; top: 448px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 18px; display: inline-flex">
    <div data-layer="Event List" class="EventList" style="width: 507px; height: 453px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 21px; display: inline-flex">
      <div data-layer="EVENT LIST" class="EventList" style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex; flex-wrap: wrap; align-content: flex-start">

        <!-- Home Settings Event Card (Always First) -->
        {{#if homeSettings.event_title}}
        <div data-layer="EventCard_small" class="EventcardSmall" style="width: 250px; height: 85px; position: relative; background: #232323; overflow: hidden; border-radius: 16px">
          <div data-layer="Frame 6" class="Frame6" style="width: 84px; height: 84px; left: 0px; top: 1px; position: absolute">
            {{#if homeSettings.event_image}}
            <img data-layer="Rectangle 2" class="Rectangle2" style="width: 79.04px; height: 79.04px; left: 3px; top: 2px; position: absolute; border-radius: 14px" src="{{homeSettings.event_image}}" />
            {{else}}
            <img data-layer="Rectangle 2" class="Rectangle2" style="width: 79.04px; height: 79.04px; left: 3px; top: 2px; position: absolute; border-radius: 14px" src="https://placehold.co/79x79" />
            {{/if}}
            {{#if homeSettings.event_date}}
            <div data-layer="Frame 7" class="Frame7" style="width: 21px; height: 21px; left: 55.64px; top: 6px; position: absolute; overflow: hidden">
              <div data-svg-wrapper data-layer="Rectangle 1" class="Rectangle1" style="left: 0.15px; top: -0.86px; position: absolute">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="21.1623" height="21.1623" rx="4" transform="matrix(-1 0 0 1 21.9457 -0.864319)" fill="white"/>
                </svg>
              </div>
              <div data-layer="Date" class="Date" style="width: 15px; height: 14px; left: 3.36px; top: 3px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 2px; display: inline-flex">
                <div data-layer="DAY" class="Day" style="text-box-trim: trim-both; text-box-edge: cap alphabetic; text-align: center; justify-content: center; display: flex; flex-direction: column; color: black; font-size: 10px; font-family: Inter; font-weight: 800; word-wrap: break-word">{{formatDate homeSettings.event_date "dd"}}</div>
                <div data-layer="MONTH" class="Month" style="text-box-trim: trim-both; text-box-edge: cap alphabetic; text-align: center; justify-content: center; display: flex; flex-direction: column; color: black; font-size: 6px; font-family: Inter; font-weight: 800; word-wrap: break-word">{{formatDate homeSettings.event_date "MMM"}}</div>
              </div>
            </div>
            {{/if}}
          </div>
          <div data-layer="Frame 4" class="Frame4" style="width: 156px; height: 85px; padding-top: 3px; padding-bottom: 3px; left: 94px; top: 0px; position: absolute; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div data-layer="Frame 3" class="Frame3" style="align-self: stretch; height: 53px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Event Title" class="EventTitle" style="width: 128px; height: 20px; text-box-trim: trim-both; text-box-edge: cap alphabetic; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">{{homeSettings.event_title}}</div>
              <div data-layer="DATE" class="Date" style="align-self: stretch; height: 15px; padding-left: 1px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                {{#if homeSettings.event_date}}
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.316456 4.25924H9.673C9.85232 4.25924 9.98945 4.1114 9.98945 3.94245C9.98945 3.7735 9.84177 3.62566 9.673 3.62566H0.316456C0.137131 3.62566 0 3.7735 0 3.94245C0 4.1114 0.147679 4.25924 0.316456 4.25924ZM2.07806 0.81679V1.8622C2.07806 2.04171 2.22574 2.17899 2.39451 2.17899C2.56329 2.17899 2.71097 2.03115 2.71097 1.8622V0.81679C2.71097 0.637276 2.56329 0.5 2.39451 0.5C2.22574 0.5 2.07806 0.647835 2.07806 0.81679ZM7.27848 0.81679V1.8622C7.27848 2.04171 7.42616 2.17899 7.59494 2.17899C7.76371 2.17899 7.91139 2.03115 7.91139 1.8622V0.81679C7.91139 0.637276 7.76371 0.5 7.59494 0.5C7.42616 0.5 7.27848 0.647835 7.27848 0.81679ZM1.87764 5.50528V5.82207H3.63924V7.25818H2.20464V5.49472H1.88819H1.57173V7.57497L1.66667 7.79673L1.88819 7.89176H3.96624L4.18776 7.79673L4.2827 7.57497V5.49472L4.18776 5.27297L3.96624 5.17793H1.88819L1.66667 5.27297L1.57173 5.49472H1.88819L1.87764 5.50528ZM1.98312 10.1832V10.5H8.40717C8.5865 10.5 8.73418 10.4894 8.87131 10.4683L9.07173 10.4261L9.2616 10.3522C9.51477 10.2254 9.72574 10.0143 9.85232 9.76082L9.94726 9.50739L9.9789 9.30676L10 8.95829C10 8.83157 10 8.68374 10 8.52534V3.12936C10 2.94984 9.98945 2.80201 9.96835 2.66473L9.92616 2.4641L9.85232 2.27402C9.72574 2.02059 9.51477 1.8094 9.2616 1.68268L9.00844 1.58765L8.80802 1.55597L8.45992 1.53485C8.33333 1.53485 8.18565 1.53485 8.02743 1.53485H1.59283C1.4135 1.53485 1.26582 1.54541 1.12869 1.56653L0.92827 1.60876L0.738397 1.68268C0.485232 1.8094 0.274262 2.02059 0.147679 2.27402L0.0527426 2.52745L0.021097 2.72809L0 3.07656C0 3.20327 0 3.35111 0 3.5095V8.89493C0 9.07444 0.0105485 9.22228 0.0316456 9.35956L0.0738397 9.56019L0.147679 9.75026C0.274262 10.0037 0.485232 10.2149 0.738397 10.3416L0.991561 10.4366L1.19198 10.4683L1.54008 10.4894C1.66667 10.4894 1.81435 10.4894 1.97257 10.4894V9.8453H1.59283C1.4346 9.8453 1.30802 9.83474 1.21308 9.82418L1.09705 9.80306L1.02321 9.77138L0.706751 9.45459L0.664557 9.33844L0.64346 9.21172V8.91605C0.622363 8.79989 0.622363 8.66262 0.622363 8.49366V3.13992C0.622363 2.98152 0.632911 2.8548 0.64346 2.75977L0.664557 2.64361L0.696203 2.56969L1.01266 2.2529L1.12869 2.21067L1.25527 2.18955H1.55063C1.66667 2.16843 1.8038 2.16843 1.97257 2.16843H8.38608C8.5443 2.16843 8.67089 2.17899 8.76582 2.18955L8.88186 2.21067L8.9557 2.24234L9.27215 2.55913L9.31435 2.67529L9.33544 2.80201V3.09768C9.35654 3.21383 9.35654 3.35111 9.35654 3.52006V8.89493C9.35654 9.05333 9.34599 9.18004 9.33544 9.27508L9.31435 9.39123L9.2827 9.46515L8.96625 9.78194L8.85021 9.82418L8.72363 9.8453H8.42827C8.31224 9.86642 8.17511 9.86642 8.00633 9.86642H1.98312V10.1832Z" fill="white"/>
                  </svg>
                </div>
                <div data-layer="Date" class="Date" style="width: 111px; height: 12px; text-box-trim: trim-both; text-box-edge: cap alphabetic; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 10px; font-family: Inter; font-weight: 200; word-wrap: break-word">{{formatDate homeSettings.event_date "EEE, MMM dd @ h:mm a"}}</div>
                {{/if}}
              </div>
              <div data-layer="LOCATION" class="Location" style="align-self: stretch; height: 15px; padding-left: 1px; padding-right: 1px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                {{#if homeSettings.event_address}}
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.00001 3.40418C1.11251 3.40418 0.387512 2.68335 0.387512 1.79168C0.387512 0.900016 1.11251 0.18335 2.00001 0.18335C2.88751 0.18335 3.61251 0.904183 3.61251 1.79585C3.61251 2.68752 2.88751 3.40418 2.00001 3.40418ZM2.00001 0.80835C1.45835 0.80835 1.01251 1.25002 1.01251 1.79585C1.01251 2.34168 1.45418 2.78335 2.00001 2.78335C2.54585 2.78335 2.98751 2.34168 2.98751 1.79585C2.98751 1.25002 2.54168 0.80835 2.00001 0.80835Z" fill="white"/>
                  </svg>
                </div>
                <div data-svg-wrapper data-layer="Vector" class="Vector">
                  <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.00001 8.9625C3.38335 8.9625 2.76251 8.72917 2.27918 8.26667C1.05001 7.08333 -0.308321 5.19583 0.204179 2.95C0.666679 0.9125 2.44585 0 4.00001 0C4.00001 0 4.00001 0 4.00418 0C5.55835 0 7.33751 0.9125 7.80001 2.95417C8.30835 5.2 6.95001 7.08333 5.72085 8.26667C5.23751 8.72917 4.61668 8.9625 4.00001 8.9625ZM4.00001 0.625C2.78751 0.625 1.22918 1.27083 0.816679 3.0875C0.366679 5.05 1.60001 6.74167 2.71668 7.8125C3.43751 8.50833 4.56668 8.50833 5.28751 7.8125C6.40001 6.74167 7.63335 5.05 7.19168 3.0875C6.77501 1.27083 5.21251 0.625 4.00001 0.625Z" fill="white"/>
                  </svg>
                </div>
                <div data-layer="Vector" class="Vector" style="width: 10px; height: 10px; opacity: 0"></div>
                <div data-layer="Date" class="Date" style="width: 111px; height: 12px; text-box-trim: trim-both; text-box-edge: cap alphabetic; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 10px; font-family: Inter; font-weight: 200; word-wrap: break-word">{{homeSettings.event_address}}</div>
                {{/if}}
              </div>
            </div>
            <div data-layer="Frame 9" class="Frame9" style="align-self: stretch; height: 26px; position: relative">
              <div data-layer="Card Buttons" class="CardButtons" style="width: 156px; height: 26px; padding-right: 4px; left: 0px; top: 0px; position: absolute; overflow: hidden; justify-content: space-between; align-items: flex-start; display: inline-flex">
                <div data-layer="Get Tickets" class="GetTickets" style="width: 155px; height: 26px; padding-left: 12px; padding-right: 12px; padding-top: 13px; padding-bottom: 13px; background: rgba(23.29, 22.64, 22.64, 0.80); overflow: hidden; border-radius: 37px; justify-content: center; align-items: center; gap: 10px; display: flex">
                  <div data-layer="Get Tickets" class="GetTickets" style="text-box-trim: trim-both; text-box-edge: cap alphabetic; color: white; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Get Tickets</div>
                </div>
                <div data-svg-wrapper data-layer="SHARE" class="Share" style="position: relative">
                  <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="26" height="25" rx="12.5" fill="white"/>
                  <path d="M9.54652 9.56927C9.87209 9.545 10.1816 9.7883 10.2145 10.124C10.2472 10.4589 10.0023 10.7612 9.65981 10.7939C8.48877 10.902 7.69658 11.231 7.19496 11.8661C6.69191 12.5032 6.47233 13.4585 6.47231 14.8388V14.9365C6.47231 16.4592 6.74253 17.4752 7.37953 18.1122C8.01654 18.7492 9.03261 19.0195 10.5553 19.0195H15.445C16.9677 19.0195 17.9837 18.7492 18.6207 18.1122C19.2577 17.4752 19.528 16.4592 19.528 14.9365V14.8388C19.5279 13.4511 19.3047 12.4924 18.7926 11.8554C18.2818 11.2201 17.4747 10.8946 16.2809 10.7939H16.2799C15.9464 10.7612 15.6925 10.468 15.7252 10.1318C15.7537 9.8401 15.9758 9.60835 16.2614 9.57709H16.3864C17.8869 9.70527 18.9825 10.175 19.7008 11.0429C20.4182 11.9097 20.7526 13.1649 20.7526 14.8466V14.9443C20.7525 16.7837 20.3575 18.1108 19.4899 18.9765C18.6222 19.842 17.2917 20.2363 15.445 20.2363H10.5553C8.70862 20.2363 7.37807 19.8419 6.51039 18.9745C5.64272 18.1069 5.2477 16.7757 5.2477 14.9286V14.832C5.2477 13.1615 5.57685 11.9137 6.28285 11.0488C6.98976 10.183 8.06762 9.70877 9.54555 9.56927H9.54652ZM12.567 4.94135C12.8041 4.70432 13.1962 4.70432 13.4332 4.94135L15.945 7.45404C16.1815 7.69062 16.1816 8.08016 15.9459 8.31732C15.83 8.44158 15.6663 8.49896 15.5123 8.49896C15.3573 8.49892 15.2021 8.44161 15.0797 8.31927L13.6129 6.85248V14.749C13.6129 15.0841 13.3348 15.3613 12.9996 15.3613C12.6647 15.3611 12.3873 15.084 12.3873 14.749V6.85248L10.9205 8.31927C10.6835 8.5563 10.2914 8.5563 10.0543 8.31927C9.81763 8.08234 9.81771 7.69103 10.0543 7.45404L12.567 4.94135Z" fill="black" stroke="black" stroke-width="0.1"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}

        <!-- Featured Events Loop -->
        {{#each featuredEvents}}
        <div data-layer="EventCard_small" class="EventcardSmall" style="width: 250px; height: 85px; position: relative; background: #232323; overflow: hidden; border-radius: 16px">
          <div data-layer="Frame 6" class="Frame6" style="width: 84px; height: 84px; left: 0px; top: 1px; position: absolute">
            {{#if this.cover_image}}
            <img data-layer="Rectangle 2" class="Rectangle2" style="width: 79.04px; height: 79.04px; left: 3px; top: 2px; position: absolute; border-radius: 14px" src="{{this.cover_image}}" />
            {{else}}
            <img data-layer="Rectangle 2" class="Rectangle2" style="width: 79.04px; height: 79.04px; left: 3px; top: 2px; position: absolute; border-radius: 14px" src="https://placehold.co/79x79" />
            {{/if}}
            {{#if this.event_date}}
            <div data-layer="Frame 7" class="Frame7" style="width: 21px; height: 21px; left: 55.64px; top: 6px; position: absolute; overflow: hidden">
              <div data-svg-wrapper data-layer="Rectangle 1" class="Rectangle1" style="left: 0.15px; top: -0.86px; position: absolute">
                <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="21.1623" height="21.1623" rx="4" transform="matrix(-1 0 0 1 21.9457 -0.864319)" fill="white"/>
                </svg>
              </div>
              <div data-layer="Date" class="Date" style="width: 14px; height: 14px; left: 3.36px; top: 3px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 2px; display: inline-flex">
                <div data-layer="DAY" class="Day" style="text-align: center; color: black; font-size: 10px; font-family: Inter; font-weight: 800; word-wrap: break-word">{{formatDate this.event_date "dd"}}</div>
                <div data-layer="MONTH" class="Month" style="text-align: center; color: black; font-size: 6px; font-family: Inter; font-weight: 800; word-wrap: break-word">{{formatDate this.event_date "MMM"}}</div>
              </div>
            </div>
            {{/if}}
          </div>
          <div data-layer="Frame 4" class="Frame4" style="width: 160px; height: 84px; padding-top: 3px; padding-bottom: 3px; left: 94px; top: 0px; position: absolute; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div data-layer="Frame 3" class="Frame3" style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Event Title" class="EventTitle" style="width: 128px; height: 20px; color: white; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">{{this.title}}</div>
              <div data-layer="Frame 9" class="Frame9" style="align-self: stretch; height: 25px; position: relative">
                {{#if this.event_date}}
                <div data-layer="DATE" class="Date" style="align-self: stretch; height: 14px; padding-left: 1px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                  <div data-svg-wrapper data-layer="Vector" class="Vector" style="position: relative">
                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.316456 4.25924H9.673C9.85232 4.25924 9.98945 4.1114 9.98945 3.94245C9.98945 3.7735 9.84177 3.62566 9.673 3.62566H0.316456C0.137131 3.62566 0 3.7735 0 3.94245C0 4.1114 0.147679 4.25924 0.316456 4.25924Z" fill="white"/>
                    </svg>
                  </div>
                  <div data-layer="Date" class="Date" style="width: 112px; height: 12px; color: white; font-size: 10px; font-family: Inter; font-weight: 200; word-wrap: break-word">{{formatDate this.event_date "EEE, MMM dd @ h:mm a"}}</div>
                </div>
                {{/if}}
                {{#if this.event_address}}
                <div data-layer="LOCATION" class="Location" style="align-self: stretch; height: 14px; padding-left: 1px; padding-right: 1px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                  <div data-svg-wrapper data-layer="Vector" class="Vector" style="position: relative">
                    <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.00001 8.9625C3.38335 8.9625 2.76251 8.72917 2.27918 8.26667C1.05001 7.08333 -0.308321 5.19583 0.204179 2.95C0.666679 0.9125 2.44585 0 4.00001 0C4.00001 0 4.00001 0 4.00418 0C5.55835 0 7.33751 0.9125 7.80001 2.95417C8.30835 5.2 6.95001 7.08333 5.72085 8.26667C5.23751 8.72917 4.61668 8.9625 4.00001 8.9625Z" fill="white"/>
                    </svg>
                  </div>
                  <div data-layer="Date" class="Date" style="width: 112px; height: 12px; color: white; font-size: 10px; font-family: Inter; font-weight: 200; word-wrap: break-word">{{this.event_address}}</div>
                </div>
                {{/if}}
              </div>
            </div>
            <div data-layer="Frame 9" class="Frame9" style="align-self: stretch; height: 25px; position: relative">
              <div data-layer="Card Buttons" class="CardButtons" style="width: 160px; height: 25px; padding-right: 4px; left: 0px; top: 0px; position: absolute; justify-content: space-between; align-items: flex-start; overflow: hidden; display: inline-flex">
                <div data-layer="Get Tickets" class="GetTickets" style="width: 160px; height: 25px; padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px; background: rgba(23, 23, 23, 0.80); overflow: hidden; border-radius: 37px; justify-content: center; align-items: center; gap: 10px; display: flex">
                  <div data-layer="Get Tickets" class="GetTickets" style="color: white; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Get Tickets</div>
                </div>
                <div data-svg-wrapper data-layer="SHARE" class="Share" style="position: relative">
                  <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="26" height="25" rx="12.5" fill="white"/>
                  <path d="M9.54652 9.56927C9.87209 9.545 10.1816 9.7883 10.2145 10.124C10.2472 10.4589 10.0023 10.7612 9.65981 10.7939C8.48877 10.902 7.69658 11.231 7.19496 11.8661C6.69191 12.5032 6.47233 13.4585 6.47231 14.8388V14.9365C6.47231 16.4592 6.74253 17.4752 7.37953 18.1122C8.01654 18.7492 9.03261 19.0195 10.5553 19.0195H15.445C16.9677 19.0195 17.9837 18.7492 18.6207 18.1122C19.2577 17.4752 19.528 16.4592 19.528 14.9365V14.8388C19.5279 13.4511 19.3047 12.4924 18.7926 11.8554C18.2818 11.2201 17.4747 10.8946 16.2809 10.7939H16.2799C15.9464 10.7612 15.6925 10.468 15.7252 10.1318C15.7537 9.8401 15.9758 9.60835 16.2614 9.57709H16.3864C17.8869 9.70527 18.9825 10.175 19.7008 11.0429C20.4182 11.9097 20.7526 13.1649 20.7526 14.8466V14.9443C20.7525 16.7837 20.3575 18.1108 19.4899 18.9765C18.6222 19.842 17.2917 20.2363 15.445 20.2363H10.5553C8.70862 20.2363 7.37807 19.8419 6.51039 18.9745C5.64272 18.1069 5.2477 16.7757 5.2477 14.9286V14.832C5.2477 13.1615 5.57685 11.9137 6.28285 11.0488C6.98976 10.183 8.06762 9.70877 9.54555 9.56927H9.54652Z" fill="black" stroke="black" stroke-width="0.1"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>
